body{
   height: 99vh;
   width: 99vw;
   display: inline-block;
}

.mainGameContainer{
   height: 98.5%;
   width: 98.5%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}

.allPlayersContainer{
   height: 69%;
   width: 30%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}

.mapContainer{
   height: 69%;
   width: 69%;
   border: 1px solid;
   display: inline-block;
   position: relative;
   background-image: url("./resources/images/world-map.png");
   background-repeat: no-repeat;
   background-size:cover;
   background-color: darkslateblue;
}

.gameStatsContainer{
   height: 29%;
   width: 30%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}

.actionsContainer{
   height: 29%;
   width: 68%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}

.playerContainer{
   height: 48%;
   width: 98%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}

.continentContainer{
   height: 98%;
   width: 32.5%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}

.counterContainer{
   height: 98%;
   width: 48%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}

.playerActionsContainer{
   height: 98%;
   width: 48%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}

.citiesActionsContainer{
   height: 98%;
   width: 49%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}

.playerNameContainer{
   height: 24%;
   width: 98%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}

.playerHandContainer{
   height: 75%;
   width: 98%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}

.cityContainer{
   height: 19%;
   width: 99%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}
.city {
width: 60px;
height: 60px;
position: relative;
border-radius: 15px;
}
.cityTop,
.cityMiddle,
.cityBottom {
height: 20px;
}
.seattle .city{
background-color: rgb(51, 186, 150);
left: 25%;
top: 50%;
}
.atlanta .city {
background-color: rgb(51, 186, 150);
left: 75%;
}
.london .city{
background-color: rgb(51, 186, 150);
left: 33%;
}
.sapporo .city {
background-color:#ee524f;
left: 55%;
top: 30%;
}
.hongKong .city {
background-color:#ee524f;
left: 28%;
top: 50%;
}
.sydney .city{
background-color:#ee524f;
left: 60%;
}

.johannesburg .city{
background-color:#edc525;
left: 60%;
}
.santiago .city{
background-color:#edc525;
left: 72%;
}
.saoPaulo .city{
background-color:#edc525;
left:9%;
top: 10%;
}
.sydney .infectBlockOne,
.london .infectBlockOne,
.santiago .infectBlockOne,
.santiago .infectBlockTwo{
width: 10px;
height: 10px;
background-color:white;
border-width: 1px;
border-style: solid;
}
.cityBottom {
   color: white;
   text-align: center;

}
.possibleMovesContainer{
   height: 98%;
   width: 23.5%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}

.infectCitiesContainer{
   height: 80%;
   width: 60%;
   border: 1px solid;
   display: inline-block;
   position: absolute;
   margin: 5%;
}

.chosenCitiesContainer{
   height: 20%;
   width: 20%;
   border: 1px solid;
   display: inline-block;
   position: absolute;
}

.playerICContainer{
   height: 20%;
   width: 20%;
   border: 1px solid;
   display: inline-block;
   position: absolute;
}
/* .red{
   background-color: red;
}

.blue{
   background-color: blue;
}
.yellow{
   background-color: yellow;
} */
.playerOne{
   display: inline-block;
   float: left;
   background-color: chartreuse;
   height: 20px;
   width: 49%;
   border-top-left-radius: 5px;
}
.playerTwo{
   display: inline-block;
   background-color: rebeccapurple;
   height: 20px;
   width: 49%;
   border-top-right-radius: 5px;
}

.playerThree{

}
