body{
   height: 88vh;
   width: 95vw;
   display: inline-block;
   background-color:#141c43;
}
.mainGameContainer{
   height: 95%;
   width: 95%;
   display: inline-block;
   position: relative;
}

.allPlayersContainer{
   height: 65%;
   width: 20%;
   margin-left: 10px;
   display: inline-block;
   position: relative;
}

.mapContainer{
   height: 73%;
   width: 73%;
   margin-left: 50px;
   color: white;
   display: inline-block;
   position: relative;
   background-image: url("./resources/images/world-map.png");
   background-repeat: no-repeat;
   background-size:contain;
}

.actionsContainer{
   height: 90%;
   width: 68%;
   display: inline-block;
   position: relative;
}

.playerContainer{
   height: 48%;
   width: 98%;
   display: inline-block;
   position: relative;
}

.continentContainer{
   height: 98%;
   width: 32.5%;
   display: inline-block;
   position: relative;
}

.counterContainer{
   height: 98%;
   width: 48%;
   border: 1px solid;
   display: inline-block;
   position: relative;
}

.bottomDisplayContainer{
   height: 15%;
   width: 100%;
   display: inline-block;
   position: relative;
}

.playerActionsContainer{
   height: 98%;
   width: 48%;
   display: inline-block;
   position: relative;
}

.citiesActionsContainer{
   height: 98%;
   width: 49%;
   display: inline-block;
   position: relative;
}

.playerOneNameContainer,
.playerTwoNameContainer{
   margin: 7%;
   height: 12%;
   width: 10%;
   border: 1px solid;
   color: white;
   display: inline-block;
   position: relative;
   border-radius: 15px;
}

.playerOneNameContainer{
   background-color:rebeccapurple;
}

.playerTwoNameContainer{
   background-color:rgb(233, 102, 1);
}

.playerHandContainer{
   height: 70%;
   width: 95%;
   border: solid;
   display: inline-block;
   position: relative;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   color: white;
   background-color: rgb(15, 15, 15);
   background-image: url("./resources/images/motion.jpg");
   background-repeat: no-repeat;
   background-size:cover;
   margin-left: 7%;
}

.outbreak {
   height: 16%;
   width: 64%;
   margin-top: 17%;
   border: solid;
   display: inline-block;
   position: relative;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   color: white;
   background-image: url("./resources/images/terminal.png");
   background-repeat: no-repeat;
   background-size:cover;
   margin-left: 7%;
   text-align: center;
   padding: 15%;
}

.cityContainer{
   height: 19%;
   width: 99%;
   /* border: 1px solid; */
   display: inline-block;
   position: relative;
}

.allPlayersContainer,
.city {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
}
.city {
   width: 60px;
   height: 60px;
   position: relative;
   border-radius: 15px;

}

.cityTop,
.cityMiddle,
.cityBottom {
   height: 20px;
}

.seattle .city{
   background-color: #179cfa;
   left: 25%;
   top: 50%;
}

.atlanta .city {
   background-color: #179cfa;
   left: 75%;
}

.london .city{
   background-color: #179cfa;
   left: 33%;
}

.sapporo .city {
   background-color:#fa3552;
   left: 55%;
   top: 30%;
}

.hongKong .city {
   background-color:#fa3552;
   left: 20%;
   top: 45%;
}

.sydney .city{
   background-color:#fa3552;
   left: 30%;
}

.johannesburg .city{
   background-color:#edc525;
   left: 50%;
   top:20%;
}

.santiago .city{
   background-color:#edc525;
   left: 65%;
}

.saoPaulo .city{
   background-color:#edc525;
   top: 10%;
}

.left,
.center,
.right {
   height: 18px;
   width: 31%;
   display: inline-block;
}

.center {
   background-image: url("./resources/images/beaker.png");
   background-repeat: no-repeat;
   background-size:contain;
   background-position:contain;
   margin-top: 2px;
}

.infectBlock1,
.infectBlock2,
.infectBlock3,
.infectBlock4 {
   width: 8px;
   height: 8px;
   background-color: rgb(6, 245, 54);
   border-width: 2px;
   border-style: solid;
   border-radius: 5px;
   color:rgb(28, 23, 23);
   display: inline-block;
   position: absolute;
}

.infectBlock2,
.infectBlock4{
   left: 47px;
}

.cityBottom {
   color: white;
   text-align: center;
}

.infectCitiesContainer{
   height: 80%;
   width: 60%;
   border: 1px solid;
   display: inline-block;
   position: absolute;
   margin: 5%;
}

.chosenCitiesContainer{
   height: 20%;
   width: 20%;
   border: 1px solid;
   display: inline-block;
   position: absolute;
}

.playerICContainer{
   height: 20%;
   width: 80%;
   /* border: 1px solid; */
   display: block;
   position: relative;
   margin-top: 3.5%;
   margin-left: 10%;
   text-align: center;
   font-size: 150%;
   border-radius: 15px;
   color: white;
}

.playerOne{
   display: inline-block;
   float: left;
   background-color: rebeccapurple;
   height: 16px;
   width: 43%;
   border-top-left-radius: 15px;
   color: white;
   border-width: 2px;
   border-style: solid;
}

.playerTwo{
   display: inline-block;
   background-color: rgba(255, 140, 0, 0.755);
   height: 16px;
   width: 44%;
   border-top-right-radius: 15px;
   color: white;
   border-width: 2px;
   border-style: solid;
   visibility: hidden;
}

.treatDisease{
   height: 70%;
   width: 10%;
   border:solid;
   display: inline-block;
   position: relative;
   border: 1px solid white;
   border-radius: 5px;
   background-color: rgb(6, 6, 6);
   top: 15%;
}

.treatDisease{
   background-image: url("./resources/images/medic.png");
   background-repeat: no-repeat;
   background-size:cover;
   position: absolute;
   height: 130px;
   width: 130px;
   left: 50%;
}

.noViz {
   visibility: hidden;
}

.win {
   display: inline-block;
   vertical-align: top;
   background-color: rgb(6, 6, 6);
   position: relative;
   color:white;
   height:130px;
   width: 130px;
   background-image: url("./resources/images/biohazard.png");
   background-repeat: no-repeat;
   background-size:contain;
   left:10%;
   top: 15%;
   text-align: center;
   border:solid;
   display: inline-block;
   position: relative;
   border: 1px solid white;
   border-radius: 5px;
}

.panic{
   display: inline-block;
   vertical-align: top;
   left: 75%;
   height: 175px;
   width: 249px;
   background-image: url("./resources/images/panic.gif");
   background-repeat: no-repeat;
   background-size:cover;
   position: relative;
   background-color: white;
}
audio {
  dislplay : none;
}
